<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp Training 02</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>Total Sum : <span id="sum"></span></div>
    
    <script>
        var pathArray = window.location.pathname.split('/')
        var x = pathArray[1];
		var y = 10;
		var sum=0;
			sum=Number(x)+Number(y);
        document.getElementById("sum").innerHTML = sum;   
     </script>
        
</body>